### BlackJack Game
##### The goal of this project is to create a game of BlackJack
##### I created the deck of cards without any gaming librarys just for the experience
##### Jupyter notebook is where I tested the logic for the final game

In [205]:
import numpy as np
import pandas as pd
import random

In [2]:
cards = pd.Series(['2','3','4','5',
                   '6','7','8','9',
                   '10','J','Q','K',
                   'A'])

In [204]:
# Create a series for each suit
# then concat those series into one dataframe

In [3]:
Diamonds = pd.Series(cards)

In [4]:
Clubs = pd.Series(cards)

In [5]:
Spades = pd.Series(cards)

In [6]:
Hearts = pd.Series(cards)

In [7]:
Hearts

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9      J
10     Q
11     K
12     A
dtype: object

In [203]:
len(Hearts) # Debug, check length of the Hearts series

13

In [194]:
# Creating dataframe deck
def new_deck():
    # A fucntion to create a new deck of cards
    deck = pd.concat({'Hearts':Hearts,'Spades':Spades,
                     'Clubs':Clubs,'Diamonds':Diamonds}, axis=1)
    return deck

In [200]:
# create a new deck object named deck
deck = new_deck()

In [202]:
deck #Debug, check new deck is created

   Clubs Diamonds Hearts Spades
0      2        2      2      2
1      3        3      3      3
2      4        4      4      4
3      5        5      5      5
4      6        6      6      6
5      7        7      7      7
6      8        8      8      8
7      9        9      9      9
8     10       10     10     10
9      J        J      J      J
10     Q        Q      Q      Q
11     K        K      K      K
12     A        A      A      A

In [15]:
#deck = deck.set_index('Points') # First create the index
                                # off the [Points] Column

In [16]:
#deck # Debug, Checking if it's the correct dataframe

In [17]:
suit = ['Hearts', 'Spades', 'Clubs', 'Diamonds']

In [18]:
# Debug, The next few line was to test I could successfully random select a card
# and change the value to None

In [19]:
# Randomly select a suit
select_suit = random.choice(suit)

In [20]:
#Randomly select a card
card = random.choice(cards)

In [21]:
# Print out the Card that was selected
print(select_suit)
print(card)

Clubs
5

In [22]:
# Change the value of the selected card to None
a = deck.loc[deck[select_suit] == card, select_suit] = None

In [23]:
deck # Debug, did it remove the correct card

   Clubs Diamonds Hearts Spades
0      2        2      2      2
1      3        3      3      3
2      4        4      4      4
3   None        5      5      5
4      6        6      6      6
5      7        7      7      7
6      8        8      8      8
7      9        9      9      9
8     10       10     10     10
9      J        J      J      J
10     Q        Q      Q      Q
11     K        K      K      K
12     A        A      A      A

In [206]:
lst = [] # Create an empty list to keep track of cards played

In [27]:
def deal_Card(df, lst):
    # This function selects a card find it in the dataframe
    # changes the value to None and adds it to a list
    # loops through until it find a card that has not been played
    # Checks if the deck has been played(52 cards)
    played = False
    while played is False:
        select_suit = random.choice(suit)
        card = random.choice(cards)
        tst = (select_suit, card)
        if tst in lst:
            print('In lst')
            print(len(lst))
            played = False
            if len(lst) > 51:
                print('Deck has been played')
                played = True
                break
            continue
        else:
            print('Not in appened lst')
            lst.append((select_suit,card))
            deck.loc[deck[select_suit] == card, select_suit] = None
            print(len(lst))
            played = True
            break
    return deck

In [28]:
# Debug, checks if the deal_Card function works
deal_Card(deck, lst)

Not in appened lst
1

   Clubs Diamonds Hearts Spades
0      2        2      2      2
1      3        3      3      3
2      4        4      4      4
3   None        5      5      5
4      6        6      6      6
5      7        7      7      7
6      8        8      8      8
7      9        9      9   None
8     10       10     10     10
9      J        J      J      J
10     Q        Q      Q      Q
11     K        K      K      K
12     A        A      A      A

In [129]:
def deal_Card(df, lst):
    # This function deals a card, one card at a time
    # and keeps track of cards played in a deck
    # With out all the Debugging print statements
    played = False
    while played is False:
        select_suit = random.choice(suit)
        card = random.choice(cards)
        tup = (select_suit, card)
        if tup in lst:
            played = False
            if len(lst) > 51:
                played = True
                print('Deck is empty')
                break
            continue
        else:
            lst.append((select_suit,card))
            deck.loc[deck[select_suit] == card, select_suit] = None
            played = True
            break
    return select_suit, card

In [159]:
def points(card):
    # This function decides if the card varible can be dtype of int
    # if so then the point value is the value of the card
    # if it is a str then it's a face card
    # if Ace then 11 points else all other face cards are 10 points
    try:
        card = int(card)
        point = int(card)
        print('This card is an int:')
        print(card)
    except:
        card = str(card)
        print('This card is a str:')
        print(card)
        if card == 'A':
            point = 11
            print('This card is an Ace')
            print(point)
        else:
            point = 10
            print(point)
    return point

In [160]:
def deal_Hand(deck, lst):
    p1 = deal_Card(deck, lst)
    print(p1)
    points(p1[1])
    return None

In [193]:
deal_Hand(deck, lst) # Debug, checking that the points function
                     # is assigning to correct points for the right card

Deck is empty
('Clubs', 'J')
This card is a str:
J
10

In [192]:
deck

   Clubs Diamonds Hearts Spades
0   None     None   None   None
1   None     None   None   None
2   None     None   None   None
3   None     None   None   None
4   None     None   None   None
5   None     None   None   None
6   None     None   None   None
7   None     None   None   None
8   None     None   None   None
9   None     None   None   None
10  None     None   None   None
11  None     None   None   None
12  None     None   None   None

In [207]:
# Add Up points keep track of a players score
# use __init__ .self

In [208]:
# If statement to play Ace as 11 or 1 point